.controls{
  margin-top: 32px;
  text-align: end;
}

.controls span{
  background-color: #333;
  color: white;
  border-radius: 10%; 
padding: 8px 16px; 
margin: 0px 4px; 
  font-size: 14px;
}

.controls span:hover{
  cursor: pointer;
}

.prev:hover{
  background-color: orange;
}

.next:hover{
  background-color: orange;
}

/* 게시판 */
#board{
  padding: 4% 11%;
  background-color: rgba(155, 155, 155, 0.1);
  min-height: 60vh;
}
#board_title{
  font-family: 'Noto Sans KR', sans-serif;
}
#board_subtitle{
  margin-top: -20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: lighter;
}
#board_table{
  /* margin: 0 auto; */
  width: 100%;
  border-collapse: collapse;
}
.board_table_heads{
  padding: 16px 4px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#board_table_body_content{
  border-bottom: 1px solid gray;
  padding: 10px 5px;
}
.board_table_bodies{
  padding: 8px 4px;
}
#board_table_body_number{
  /* width: 40px; */
  text-align: center;
}
#board_table_body_title{
  /* width: 200px; */
}
#board_table_body_writer{
  /* width: 80px; */
  text-align: center;
}
#board_table_body_pubdate{
  /* width: 200px; */
  text-align: center;
}
#board_table_body_like{
  width: 60px;
  text-align: center;
}
#board_table_body_content:hover{
  background-color: orange;
}
#board_table_body_title a:hover{
  text-decoration: underline;
}
#board_create_button{
  padding: 4px 8px; 
  display: flex; 
  margin-left: auto;
}

/* 게시판 작성하기 */
#board_new{
  padding: 4% 11%;
  font-family: 'Noto Sans KR', sans-serif;
}
#board_new_input_title{
  width: 80%;
  height: 32px;
}
#board_new_input_content{
  width: 100%;
  height: 30vh;
}
#board_new_button_submit{
  display: flex;
  justify-content: end;
}

/* 게시판 상세 */
#board_detail{
  padding: 4% 11%;
}
#board_detail_title{
  font-size: 30px;
  border-bottom: 2px solid black;
}
#board_detail_info{
  display: flex;
  justify-content: space-between;
  margin-top: -22px;
}
#board_detail_writer{
  font-size: 14px;
  padding: 0px 14px;
}
#board_detail_pubdate{
  font-size: 14px;
  padding: 0px 14px;
}
#board_detail_content{
  padding: 6px 18px;
  margin-top: 22px;
  background-color: white;
}
#board_detail_content textarea{
  font-size: 20px;
  padding: 18px 0px;
  width: 100%;
  height: 30vh;
  border: 0px solid white;
  background-color: white;
}
#board_detail_image{
  width: 100%;
}
#board_detail_function{
  text-align: end;
  margin-top: 24px;
}
#board_detail_function_like{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
#board_detail_function_like_button{
  display: flex;
  align-items: center;
  height: 40px;
}
#board_detail_comment{
  margin-top: 22px;
  padding: 4px 10px;
}
#board_detail_comment_title{
  font-size: 30px;
}
#board_detail_comment_content{
  border-bottom: 1px solid black;
  padding: 0px 12px;
  background-color: white;
}
#board_detail_comment_content_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#board_detail_comment_create{
  margin-top: 18px;
  padding: 4px 14px;
}
#comment_create_input{
  width: 50%;
}