{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class = 'group'>
    <div class = 'group_pic'>
        <img id = 'group_pic_detail' class="card-img-top" src="{% static 'images/LG.png'%}" alt="..." />
        <!-- <img src = "{% static 'images/LG.png'%}"> -->
    </div>
    <div class = 'group_desc'>
        <h1>기업명: LG 그룹</h1>
        <h2>기업규모: 대기업</h2>
        <h2>기업형태: 코스피</h2>
        <h2>계열사: 67개</h2>
        <a href = "#">자세히...</a>
    </div>
</div>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGES.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 에너지솔루션</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLGES'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGChem.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 화학</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGElec.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 전자</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGDS.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 디스플레이</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGCNS.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG CNS</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGLife.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 생활건강</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGU+.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 유플러스</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/LGIno.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">LG 이노텍</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}