{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class = 'group'>
    <div class = 'group_pic'>
        <img id = 'group_pic_detail' class="card-img-top" src="{% static 'images/LGES.png'%}" alt="..." />
        <!-- <img src = "{% static 'images/LG.png'%}"> -->
    </div>
    <div class = 'group_desc'>
        <h1>기업명: LG 에너지솔루션</h1>
        <h2>기업규모: 대기업</h2>
        <h2>기업형태: 코스피</h2>
        <h2>상세업종: 축전지 제조업</h2>
        <a href = "#">자세히...</a>
    </div>
</div>


<div class = 'container'>
    <br>
    <h2>최근 뉴스</h2>
    <br>
    <div id="board">
        <br>
        <table id="board_table">
            <thead id="board_table_head">
                <tr>
                    <th id="board_table_head_number" class="board_table_heads">번호</th>
                    <th id="board_table_head_title" class="board_table_heads">제목</th>
                    <th id="board_table_head_writer" class="board_table_heads">작성자</th>
                    <th id="board_table_head_pubdate" class="board_table_heads">작성일자</th>
                </tr>
            </thead>
            <thead id="board_table_head">
                <tr>
                    <th id="board_table_head_number" class="board_table_heads">공지</th>
                    <th id="board_table_head_title" class="board_table_heads"><a href = "">이용 안내</a></th>
                    <th id="board_table_head_writer" class="board_table_heads">관리자</th>
                    <th id="board_table_head_pubdate" class="board_table_heads">-</th>
                </tr>
            </thead>

        </table>
        <br>
      
    </div>
    
</div>



{% endblock %}