{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class = 'group'>
    <div class = 'group_pic'>
        <img id = 'group_pic_detail' class="card-img-top" src="{% static 'images/samsung.png'%}" alt="..." />
        <!-- <img src = "{% static 'images/LG.png'%}"> -->
    </div>
    <div class = 'group_desc'>
        <h1>기업명: 삼성 그룹</h1>
        <h3>기업규모: 대기업</h3>
        <h3>기업형태: 코스피</h3>
        <h3>계열사: 59개</h3>
        <a href = "https://www.samsung.com/sec/" target="_blank">자세히...</a>
    </div>
</div>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungelec.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성전자</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showSamsungElec'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungsds.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성SDS</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungsdi.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성SDI</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungstock.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성증권</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      
            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungbio.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성 바이오로직스</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsungheavy.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성 중공업</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'main:showLG'%}">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/samsunglife.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">

                            <!-- <h5 class="fw-bolder">LG 그룹</h5> -->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">삼성 생명</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img id = 'detail_img' class="card-img-top" src="{% static 'images/shilla.png'%}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <h5 class="fw-bolder">호텔신라</h5>
                        </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">자세히 보기</a></div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}