{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="holy">
  <form method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <h1 id ="signup">회원가입</h1><br>
    <p><label for="id_username"></label> <input type="text" name="username" placeholder="  아이디" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_email"></label> <input type="email" name="email" placeholder="  이메일 주소(선택)" autocomplete="email" id="id_email" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_password1"></label> <input type="password" name="password1" placeholder="  비밀번호(8자리 이상)" autocomplete="new-password" required="" id="id_password1" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_password2"></label> <input type="password" name="password2" placeholder="  비밀번호(확인)" required="" id="id_password2" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_university"></label> <input type="text" name="university" placeholder="  **대학교" required="" id="id_university" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_major"></label><input type="text" name="major" placeholder="  **학과" required="" id="id_major" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><select style="border-radius: 10px; height:40px; width:250px; font-size:15px;">
        <option selected>관심 기업</option>
        <option value="1">삼성전자</option>
        <option value="2">LG 에너지솔루션</option>
        <option value="3">SK 하이닉스</option>
        <option value="4">IBK 기업은행</option>
        <option value="5">인천국제공항공사</option>
        <option value="6">현대자동차</option>
        <option value="7">카카오</option>
        <option value="8">네이버</option>
        <option value="9">포스코홀딩스</option>
        <option value="10">신한은행</option>
        <option value="11">LG 디스플레이</option>
        <option value="12">현대모비스</option>
        <option value="13">국민은행</option>
        <option value="14">삼성생명</option>
        <option value="15">GS 칼텍스</option>
        <option value="16">CJ제일제당</option>
        <option value="17">LG 화학</option>
        <option value="18">KT</option>
        <option value="19">DB손해보험</option>
        <option value="20">현대오토에버</option>
        <option value="21">한화생명보험</option>
        <option value="22">LG 이노텍</option>
        <option value="23">롯데케미칼</option>
        <option value="24">SK 이노베이션</option>
        <option value="25">삼성SDI</option>
        <option value="26">현대건설</option>
        <option value="27">NH투자증권</option>
        <option value="28">삼성증권</option>
        <option value="29">SK ON</option>
        <option value="30">KB증권</option>
        <option value="31">현대중공업</option>
        <option value="32">SK 텔레콤</option>
        <option value="33">대한항공</option>
        <option value="34">하나금융투자</option>
        <option value="35">GS건설</option>
        <option value="36">신한금융투자</option>
        <option value="37">한화솔루션</option>
        <option value="38">LG생활건강</option>
        <option value="39">E1</option>
        <option value="40">신한카드</option>
      </select></p>
      
    <p><select style="border-radius: 10px; height:40px; width:250px; font-size:15px;">
        <option selected>관심 직무</option>
        <option value="1">데이터 분석</option>
        <option value="2">데이터 엔지니어링</option>
        <option value="3">SW 개발</option>
        <option value="4">생산관리</option>
        <option value="5">품질관리</option>
        <option value="20">백엔드 개발자</option>
        <option value="6">프론트엔드-웹 개발자</option>
        <option value="7">프론트엔드-앱 개발자</option>
        <option value="8">DevOps 개발자</option>
        <option value="9">임베디드 소프트웨어 개발자</option>
        <option value="10">DB 개발자</option>
        <option value="11">공정기술</option>
        <option value="12">설비기술</option>
        <option value="13">서버 개발자</option>
        <option value="14">AI 플랫폼 엔지니어</option>
        <option value="15">ICT 개발</option>
        <option value="16">디지털 전략/기획</option>
        <option value="17">CRM 개발자</option>
        <option value="18">ERP 개발자</option>
        <option value="19">R&D</option>


      </select></p>
    <p><input type="submit" value="회원가입"></p>
  </form>  
</div>

<br><br><br><br>
{% endblock %}